<%# 検索結果 %>
<div class='search-result'>
  <div class='search-customer'>
  得意先検索結果
  </div>
  <table class='search-customer-header'>
    <tbody>
      <tr>
        <th class='search-customer-no'>No.</th>
        <th class='search-customer-name'>現場名</th>
        <th class='search-prefecture'>都道府県</th>
        <th class='search-city'>市区町村</th>
        <th class='search-block'>番地</th>
        <th class='search-building'>ビル名</th>
        <th class='search-payment-condition'>支払条件</th>
        <th class='search-due-date'>支払サイト</th>
      </tr>
      <tr>
        <td class="search-customer-no-result"><%# @item.category[:name] %></td>
        <td class="search-customer-name-result"><%# @item.category[:name] %></td>
        <td class="search-prefecture-result"><%# @item.category[:name] %></td>
        <td class="search-city-result"><%# @item.category[:name] %></td>
        <td class="search-block-result"><%# @item.category[:name] %></td>
        <td class="search-building-result"><%# @item.category[:name] %></td>
        <td class="search-payment-condition-result"><%# @item.category[:name] %></td>
        <td class="search-due-date-result"><%# @item.category[:name] %></td>
      </tr>
    </tbody>
  </table>
</div>


